ci:
  autofix_commit_msg: "chore: pre-commit autofix"
  autofix_prs: true
  autoupdate_branch: main
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: "monthly"

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: 2.1.3
    hooks:
      - id: pyproject-fmt
