name: Integration tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  schedule:
    # Daily at midday UTC
    - cron: "0 12 * * *"
  workflow_dispatch:

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - run: pip install tox
        env:
          PIP_CONSTRAINT: .github/workflows/constraints.txt
      - run: python -Im tox -e $(echo py${{ matrix.python-version }} | tr -d .)
